*{
  padding: 0px;
  margin: 0px;
}



  ::-webkit-scrollbar {
    display: none;
}
      /* @font-face {
        font-family: "SFProDisplay-Medium";
        src: url(fonts/SF-Pro-Display-Medium.woff); }
        @font-face {
          font-family: "SFProDisplay-Light";
          src: url(fonts/SF-Pro-Display-Light.woff); } */

body{
height: 100vh;
/* overflow: hidden; */
padding-bottom: 70px;
/* margin-bottom: 100px; */

}
.test{
  margin-bottom: 200px;
}
.nav{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
.announcement__heading h1{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
font-size: 67px;
color: #000000;
text-align: center;
}

.announcement__heading span{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: #7F7F7F;
  text-align: center;
  justify-content: center;
  display: flex;
  padding-top: 55px;
}

.contact-us{
  justify-content: center;
    display: flex;
    align-items: center;
    padding-top: 30px
}

.btn:hover{
  background: #000000;
  color: #FFFFFF !important ;
  transition: 600ms;
  text-decoration: none !important ;

}


.btn{
      border: 1px solid #000000;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 28px;
      color: #000000;
      text-align: center;
      text-decoration: none;
      padding: 17px 55px;
      outline: none
}

.btn3:hover{
  background: #000000;
  color: #FFFFFF !important ;
  transition: 600ms;
  text-decoration: none !important ;

}

.btn3{
  border: 1px solid #000000;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    color: #000000;
    background: white;
    text-align: center;
    text-decoration: none;
    padding: 15px 65px;
    outline: none;


}
.container{
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80%;
    margin-bottom: 1% !important ;

}


.footer{
  background: #000000;
  height: 55px;
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer span{
  font-family: 'Source Sans Pro', sans-serif;
font-size: 15px;
color: #FFFFFF;

}
.nav-item {
  /* margin-left: -600px; */
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
font-size: 20px;
color: #000000;
  }

.img-fluid{
  width: 100%;
  height: auto;
}
