body {
    font-size: 16px;
    line-height: 1.8;
    color: #6c757d;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

::-moz-selection {
    background: yellow;
}

::selection {
    background: yellow;
}

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600&display=swap');
h1,
h2,
h3,
h4,
h5 {
    color: #000;
}

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

a:hover,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
}

.artboard-navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 0;
    z-index: 99999;
}

.artboard-navbar .container-fluid {
    max-width: 100%;
}

.artboard-navbar .toggle-menu {
    z-index: 9999;
    position: relative;
    top: -13px;
    display: none;
}

@media (max-width: 767.98px) {
    .artboard-navbar .toggle-menu {
        display: block;
    }
}

.artboard-navbar .toggle-menu:active,
.artboard-navbar .toggle-menu:focus {
    outline: none;
}

.artboard-navbar .site-logo {
    position: relative;
    top: -10px;
    z-index: 9999;
}

.artboard-navbar .site-logo a {
    font-size: 30px;
    color: #000;
}

.artboard-navbar .artboard-menu {
    position: relative;
}

.artboard-navbar .artboard-menu ul {
    margin-bottom: 0;
}

.artboard-navbar .artboard-menu ul li {
    display: inline-block;
}

.artboard-navbar .artboard-menu ul li a {
    margin-right: 20px;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: #000;
    position: relative;
    padding-bottom: 5px;
    display: block;
}

.artboard-navbar .artboard-menu ul li a:before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 0;
    left: 0;
    background: #dc3545;
    -webkit-transition: .15s width ease;
    -o-transition: .15s width ease;
    transition: .15s width ease;
}

.artboard-navbar .artboard-menu ul li a:hover:before {
    width: 100%;
}

.artboard-navbar .artboard-menu ul li.active > a:before {
    width: 100%;
}

.artboard-navbar .artboard-menu ul li:last-child a {
    margin-right: 0;
}

@media (max-width: 767.98px) {
    .artboard-navbar .artboard-menu {
        position: fixed;
        width: 100%;
        background-color: #fff;
        top: 0;
        left: 0;
        margin: 0;
        text-align: left;
        height: 100vh;
        min-height: 400px;
        padding: 15px;
        display: none;
        padding-top: 100px;
        overflow-y: scroll;
    }
    .artboard-navbar .artboard-menu ul {
        margin-left: 40px;
    }
    .artboard-navbar .artboard-menu ul li {
        display: block;
        margin-bottom: 10px;
    }
    .artboard-navbar .artboard-menu ul li a {
        padding: 10px 0 2px 0;
        font-size: 18px;
        display: inline-block;
    }
}

@media (max-width: 767.98px) {
    .artboard-navbar .artboard-menu ul {
        margin-left: 0px;
    }
}

.artboard-navbar.navbar-light .site-logo a {
    color: #fff;
}

.artboard-navbar.navbar-light .hamburger .hamburger-inner,
.artboard-navbar.navbar-light .hamburger .hamburger-inner::before,
.artboard-navbar.navbar-light .hamburger .hamburger-inner::after {
    background-color: #fff;
}

.artboard-navbar.navbar-light .artboard-menu ul li a {
    color: #fff;
}

.menu-open .artboard-navbar {
    position: fixed;
    left: 0;
    top: 0;
}

@media (max-width: 767.98px) {
    .menu-open .site-logo a {
        color: #000 !important;
    }
}

.menu-open .navbar-light .hamburger .hamburger-inner,
.menu-open .navbar-light .hamburger .hamburger-inner::before,
.menu-open .navbar-light .hamburger .hamburger-inner::after {
    background-color: #000;
}

.menu-open .artboard-menu li {
    opacity: 0;
    visibility: hidden;
    margin-left: -10px;
    position: relative;
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
}

.menu-open .artboard-menu li.staggard {
    opacity: 1;
    visibility: visible;
    margin-left: 0px;
}

@media (max-width: 767.98px) {
    .menu-open .artboard-menu li a {
        color: #000 !important;
    }
}

.artboard-hero {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    overflow: hidden;
}

.artboard-hero .lead {
    font-size: 28px;
}

@media (max-width: 991.98px) {
    .artboard-hero .lead {
        font-size: 20px;
    }
}

.artboard-hero .cover {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.artboard-hero .cover img {
    position: absolute;
    display: block;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.artboard-hero.overlay:before {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.artboard-hero.overlay h1 {
    color: #fff;
}

.artboard-hero.overlay .lead {
    color: #fff;
    opacity: .5;
}

.artboard-hero,
.intro {
    height: 90vh;
    min-height: 700px;
}

.artboard-hero h1,
.intro h1 {
    color: #000;
    font-size: 70px;
}

@media (max-width: 991.98px) {
    .artboard-hero h1,
    .intro h1 {
        font-size: 36px;
    }
}

.artboard-portfolio-overlap {
    position: relative;
    margin-top: -100px;
}

@media (max-width: 991.98px) {
    .artboard-portfolio-overlap {
        margin-top: -50px;
    }
}

.container-fluid {
    padding-left: 50px;
    padding-right: 50px;
    max-width: 1600px;
}

@media (max-width: 767.98px) {
    .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.artboard-section {
    padding: 7em 0;
}

@media (max-width: 991.98px) {
    .artboard-section {
        padding: 3em 0;
    }
}

.artboard-section h2 {
    line-height: 1.5;
}

.artboard-cta {
    padding: 7em 0;
    display: block;
    background: #f8f9fa;
    position: relative;
}

.artboard-cta:before {
    content: "";
    position: absolute;
    height: 0px;
    bottom: 0;
    background: #000000;
    width: 100%;
    left: 0;
    -webkit-transition: .3s all ease-out;
    -o-transition: .3s all ease-out;
    transition: .3s all ease-out;
}

.artboard-cta .cta-inner {
    display: block;
    text-align: center;
}

.artboard-cta span {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.artboard-cta .words-1 {
    opacity: 1;
    visibility: visible;
    top: 0;
}

.artboard-cta .words-2 {
    opacity: 0;
    visibility: hidden;
    top: 40px;
}

.artboard-cta h2 {
    font-weight: normal;
    margin-bottom: 0;
    color: #000;
    position: relative;
    bottom: 0;
    -webkit-transition: .4s all ease;
    -o-transition: .4s all ease;
    transition: .4s all ease;
}

.artboard-cta:hover:before,
.artboard-cta:focus:before {
    height: 100%;
}

.artboard-cta:hover .words-1,
.artboard-cta:focus .words-1 {
    opacity: 0;
    visibility: hidden;
    top: -40px;
}

.artboard-cta:hover .words-2,
.artboard-cta:focus .words-2 {
    opacity: 1;
    visibility: visible;
    top: 0px;
    color: #fff;
}

.section-heading {
    font-size: 14px;
    color: #495057;
    margin-bottom: 30px;
    display: block;
    position: relative;
}

.section-heading:after {
    content: "";
    height: 2px;
    width: 30%;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background: #000;
}

.project,
.post {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 30px;
}

.project figure,
.post figure {
    margin: 0;
    position: relative;
}

.project .project-hover,
.project .post-hover,
.post .project-hover,
.post .post-hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.project .project-hover .project-hover-inner,
.project .project-hover .post-hover-inner,
.project .post-hover .project-hover-inner,
.project .post-hover .post-hover-inner,
.post .project-hover .project-hover-inner,
.post .project-hover .post-hover-inner,
.post .post-hover .project-hover-inner,
.post .post-hover .post-hover-inner {
    position: absolute;
    z-index: 99;
    left: 50%;
    top: 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: .3s all ease;
    text-align: center;
}

.project .project-hover .project-hover-inner h2,
.project .project-hover .post-hover-inner h2,
.project .post-hover .project-hover-inner h2,
.project .post-hover .post-hover-inner h2,
.post .project-hover .project-hover-inner h2,
.post .project-hover .post-hover-inner h2,
.post .post-hover .project-hover-inner h2,
.post .post-hover .post-hover-inner h2 {
    color: #fff;
    font-size: 26px;
    line-height: 1.2;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    opacity: 0;
    visibility: hidden;
    position: relative;
    bottom: -30px;
}

.project .project-hover .project-hover-inner span,
.project .project-hover .post-hover-inner span,
.project .post-hover .project-hover-inner span,
.project .post-hover .post-hover-inner span,
.post .project-hover .project-hover-inner span,
.post .project-hover .post-hover-inner span,
.post .post-hover .project-hover-inner span,
.post .post-hover .post-hover-inner span {
    color: rgba(255, 255, 255, 0.8);
    opacity: 0;
    visibility: hidden;
    position: relative;
    bottom: -30px;
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
}

.project:hover .project-hover,
.project:hover .post-hover,
.project:focus .project-hover,
.project:focus .post-hover,
.post:hover .project-hover,
.post:hover .post-hover,
.post:focus .project-hover,
.post:focus .post-hover {
    visibility: visible;
    opacity: 1;
}

.project:hover .project-hover .project-hover-inner,
.project:hover .project-hover .post-hover-inner,
.project:hover .post-hover .project-hover-inner,
.project:hover .post-hover .post-hover-inner,
.project:focus .project-hover .project-hover-inner,
.project:focus .project-hover .post-hover-inner,
.project:focus .post-hover .project-hover-inner,
.project:focus .post-hover .post-hover-inner,
.post:hover .project-hover .project-hover-inner,
.post:hover .project-hover .post-hover-inner,
.post:hover .post-hover .project-hover-inner,
.post:hover .post-hover .post-hover-inner,
.post:focus .project-hover .project-hover-inner,
.post:focus .project-hover .post-hover-inner,
.post:focus .post-hover .project-hover-inner,
.post:focus .post-hover .post-hover-inner {
    visibility: visible;
    opacity: 1;
    -webkit-animation-delay: 10s;
    animation-delay: 10s;
}

.project:hover .project-hover .project-hover-inner h2,
.project:hover .project-hover .post-hover-inner h2,
.project:hover .post-hover .project-hover-inner h2,
.project:hover .post-hover .post-hover-inner h2,
.project:focus .project-hover .project-hover-inner h2,
.project:focus .project-hover .post-hover-inner h2,
.project:focus .post-hover .project-hover-inner h2,
.project:focus .post-hover .post-hover-inner h2,
.post:hover .project-hover .project-hover-inner h2,
.post:hover .project-hover .post-hover-inner h2,
.post:hover .post-hover .project-hover-inner h2,
.post:hover .post-hover .post-hover-inner h2,
.post:focus .project-hover .project-hover-inner h2,
.post:focus .project-hover .post-hover-inner h2,
.post:focus .post-hover .project-hover-inner h2,
.post:focus .post-hover .post-hover-inner h2 {
    opacity: 1;
    visibility: visible;
    bottom: 0px;
}

.project:hover .project-hover .project-hover-inner span,
.project:hover .project-hover .post-hover-inner span,
.project:hover .post-hover .project-hover-inner span,
.project:hover .post-hover .post-hover-inner span,
.project:focus .project-hover .project-hover-inner span,
.project:focus .project-hover .post-hover-inner span,
.project:focus .post-hover .project-hover-inner span,
.project:focus .post-hover .post-hover-inner span,
.post:hover .project-hover .project-hover-inner span,
.post:hover .project-hover .post-hover-inner span,
.post:hover .post-hover .project-hover-inner span,
.post:hover .post-hover .post-hover-inner span,
.post:focus .project-hover .project-hover-inner span,
.post:focus .project-hover .post-hover-inner span,
.post:focus .post-hover .project-hover-inner span,
.post:focus .post-hover .post-hover-inner span {
    bottom: 0;
    visibility: visible;
    opacity: 1;
}

.artboard-footer {
    padding: 7em 0;
    border-top: 1px solid #F4F4F4;
}

.artboard-footer .container-fluid {
    max-width: 100%;
}

.artboard-footer small {
    font-size: 16px;
}

.artboard-footer p:last-child {
    margin-bottom: 0;
}

.artboard-footer .footer-social {
    position: relative;
}

.artboard-footer .footer-social a {
    color: #b3b3b3;
    position: relative;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    font-size: 26px;
}

.artboard-footer .footer-social a:hover,
.artboard-footer .footer-social a:focus {
    color: #dc3545;
    -webkit-transform: scale(1.7);
    -ms-transform: scale(1.7);
    transform: scale(1.7);
}

.btn:hover,
.btn:focus,
.btn:active {
    outline: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.form-control {
    height: 50px;
    background: #f6f6f6;
    border: none;
}

.form-control:active,
.form-control:focus {
    background: #f6f6f6;
    outline: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

textarea.form-control {
    height: inherit;
}

.button {
    display: inline-block;
    font-size: 13px;
    letter-spacing: .2em;
    text-transform: uppercase;
    color: #fff;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    border: 1px solid #000000;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    color: #000000;
    text-align: center;
    text-decoration: none;
    padding: 17px 55px;
    outline: none ;
    border-radius: 0px;
}

.button:hover,
.button:active,
.button:focus {
    outline: none;
}


/* .button.button--red { background: #dc3545; } */

.button.button--red:hover {
  background: #000000;
  color: #FFFFFF !important ;
  transition: 600ms;
  text-decoration: none !important ;

}

.go-down {
    position: relative;
    width: 40px;
    height: 40px;
    display: block;
    margin-left: -15px;
    position: absolute;
    margin-top: 70px;
}

.go-down:before {
    width: 2px;
    height: 40px;
    right: 27px;
    content: "";
    display: block;
    position: absolute;
    background: #dc3545;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    pointer-events: none;
    top: 0;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.go-down:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -12px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    margin-left: -1px;
    position: absolute;
    border-top-color: #dc3545;
    border-width: 7px;
    margin-left: -7px;
}

.go-down:hover {
    height: 70px;
}

.go-down:hover:before {
    height: 70px;
}

.artboard-media h3 {
    font-size: 18px;
    color: #dc3545;
}

.artboard-media .icon span {
    font-size: 40px;
    color: #ccc;
}

.owl-carousel .owl-dots {
    position: relative;
    text-align: center;
    width: 100%;
}

.owl-carousel .owl-dots .owl-dot {
    width: 20px;
    height: 20px;
    position: relative;
    line-height: 0;
}

.owl-carousel .owl-dots .owl-dot:active,
.owl-carousel .owl-dots .owl-dot:focus {
    outline: none;
}

.owl-carousel .owl-dots .owl-dot span {
    border: 2px solid #000;
    background: none;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.owl-carousel .owl-dots .owl-dot.active span {
    border: 2px solid #dc3545;
    background: #dc3545;
}

.owl-carousel.dots-overlap .owl-dots {
    bottom: 50px;
    position: absolute;
    z-index: 9;
}

.owl-carousel.dots-overlap .owl-dots .owl-dot span {
    border: 2px solid #fff;
    background: none;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.owl-carousel.dots-overlap .owl-dots .owl-dot.active span {
    border: 2px solid #dc3545;
    background: #dc3545;
}

#map {
    height: 700px;
    width: 100%;
}

.testimony {
    padding: 7em 0;
    background: #f7f7f7;
}

.testimony blockquote {
    font-size: 24px;
    font-weight: 300;
}

@media (min-width: 768px) {
    .testimony blockquote {
        font-size: 30px;
    }
}

.testimony blockquote p {
    color: #000;
}

.testimony .author {
    color: #000;
    text-transform: uppercase;
    letter-spacing: .2em;
}

.work-detail {
    margin-bottom: 50px;
}

.work-detail .caption {
    display: block;
    text-transform: uppercase;
    font-size: 15px;
    color: #ccc;
}

.work-detail strong {
    font-weight: normal;
    color: #000;
}

.custom-pagination {
    width: 100%;
    text-align: center;
    display: inline-block;
}

.custom-pagination li {
    display: inline-block;
}

.custom-pagination .prev a,
.custom-pagination .next a {
    font-size: 20px !important;
    line-height: 38px !important;
}

.custom-pagination li a,
.custom-pagination .prev a,
.custom-pagination .next a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    margin: 0;
    border-radius: 50% !important;
    font-size: 16px;
}

.custom-pagination li.active a,
.custom-pagination .prev.active a,
.custom-pagination .next.active a {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    margin: 0;
    border-radius: 50% !important;
    font-size: 16px;
    background: #dc3545;
    color: #fff;
}

.custom-pagination li.active a:hover,
.custom-pagination li.active a:focus,
.custom-pagination .prev.active a:hover,
.custom-pagination .prev.active a:focus,
.custom-pagination .next.active a:hover,
.custom-pagination .next.active a:focus {
    color: #fff;
}

.custom-pagination .prev {
    float: left;
}

.custom-pagination .next {
    float: right;
}
